*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Rubik, sans-serif;
}

/* Header */

p{
    text-align: center;
    font-size: 25px;
}

h1{
    margin-top: 25px;
    color: white;
}

nav{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ylnav{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.ylnav-nupp{
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.kiirlingid{
    margin-bottom: 20px;
}

.kiirlingid{
    margin: 20px;
    width: 100%;
}

.nupp{
    height: 100%;
    width: 100px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    text-decoration: none;
}

.nupp a{
    text-decoration: none;
    transition: 0.3s;
}

.nupp h4{
    color: #14468A;
    text-decoration: none;
}


.headerlist{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.headerlist a{
    margin-bottom: 10px;
    text-decoration: none;
    color: #14468A;
    border: #14468A 1px solid;
    text-align: center;
    width: 100%;
}

.ylnav h1{
    color: rgb(44, 44, 44);
    font-weight: 300;
}



.navpilt{
    height: 134px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 25px;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.navpilt img{
    width: auto;
    height: 80px;
    transition: 0.3s;
}

.leheosad{
    width: 100%;
    height: 70px;
    background-color: #eeeeee;
    display: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.leheosad a{
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    color: #14468A;
    text-decoration: none;
}

.leheosad a:hover{
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 26px;
}

#page-container{
    background-color: white;
    margin-top: 25px;
}

a h1{
    margin: 30px;
}

/* Sisu */

.sisu{
    margin: 10px;
}

.ruut{
    background-color:blue;
    width: 50px;
    height: 50px;
    margin: 25px;
    border: solid;
    border-radius: 5px;
    text-align: center;
    font-size: 40px;
}
.center{
    background-color: lightblue;
    height: 100px;
    display: flex;
    justify-content: center;
    border: solid;
    margin-bottom: 30px;
    border-radius: 15px;
    width: auto;

}
.flexstart{
    background-color: lightblue;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    border: solid;
    margin-bottom: 30px;
    border-radius: 20px;
    width: 100%;
}
.flexend{
    background-color: lightblue;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    border: solid;
    margin-bottom: 30px;
    border-radius: 20px;
    width: 100%;
}
.spacebtween{
    background-color: lightblue;
    height: 100px;
    display: flex;
    justify-content: space-between;
    border: solid;
    margin-bottom: 30px;
    border-radius: 20px;
    width: 100%;
}
.spacearnd{
    background-color: lightblue;
    height: 100px;
    display: flex;
    justify-content: space-around;
    border: solid;
    margin-bottom: 30px;
    border-radius: 20px;
    width: 100%;
}

/* GRID */

.grid1{
    width: 100%;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    backdrop-filter: blur(6px);
}

.baas{
    margin-bottom: 110px;
    margin-left: 20px;
    margin-right: 20px;
}

.kast{
    width: 50px;
    height: 50px;
    margin: 10px;
    background-color: lightblue;
    border: solid;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    border-radius: 10px;

}

/* footer */

footer{
    width: 100%;
    height: 700px;
    background-color: #14468A;
    display: flex;
    flex-direction: column;
}

footer h4{
    margin-top: 10px;
    color: white;
}

.footercontent{
    display: flex;
    flex-direction: column;
}

.footersisu{
    margin-left: 20px;
}

.footersisu div{
    margin-top: 20px;
}

.footernav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    bottom: 0%;
    margin-top: auto;
    margin-bottom: 15px;
}

.footernav h3{
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}

.footernav a{
    color: white;
    text-decoration: none;
}

.partnerid{
    display: none;
    flex-direction: column;
    margin-left: 20px;
}

.partnerpic{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.ppic{
    margin: 5px;
    background-color: white;
    width: 225px;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.ppic img{
    margin: 10px;
}

@media (min-width: 1000px){

    .partnerid{
        display: flex;
    }

    .ylnav-nupp{
        display: none;
    }

    .navpilt{
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0);
        margin-bottom: 0;
    }

    .leheosad{
        display: flex;
    }

    .nupp a:hover{
        text-decoration: underline;
        text-decoration-color: #14468A;
    }

    .navimg img:hover{
        height: 85px;
    }

    .nupp{
        display: flex;
    }

    .nupp a:hover{
        margin-left: 5px;
    }

    .footercontent{
        justify-content: space-around;
    }

} 
@media (min-width: 700px){

    .kast{
        width: 100px;
        height: 100px;
    }

    .material-icons{
        color: white;
        font-size: 40px;
    }

    footer{
        height: 398px;
    }

    .footercontent{
        flex-direction: row;
    }
}